# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd

# -----------------------------
# Виртуальные окружения
# -----------------------------
venv/
env/
.venv/

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Логи и временные файлы
# -----------------------------
*.log
*.tmp
*.bak

# -----------------------------
# Системные файлы
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Модели и артефакты ML
# -----------------------------
*.h5
*.joblib
*.pkl

# -----------------------------
# Конфигурации среды и секреты
# -----------------------------
.env
.python-version
